if SHIELD_NESPAD

config ZMK_KEYBOARD_NAME
    default "NesPad"

config USB_DEVICE_PRODUCT
    default "NesPad"

config USB_DEVICE_VID
    default 0x1D50

config USB_DEVICE_PID
    default 0x615E

config USB_DEVICE_MANUFACTURER
    default "ZMK Project"

config ZMK_RGB_UNDERGLOW
    bool "Enable RGB Underglow"
    default y

config ZMK_RGB_UNDERGLOW_BRT_START
    int "Starting Brightness (0-100)"
    default 50

config ZMK_RGB_UNDERGLOW_HUE_START
    int "Starting Hue (0-360)"
    default 150

config ZMK_RGB_UNDERGLOW_SAT_START
    int "Starting Saturation (0-100)"
    default 100

config ZMK_STUDIO
    bool "Enable ZMK Studio Support"
    default y

endif


